{% include 'index.html' %}
<table>
    <th>ID</th>
    <th>Latitude de</th>
    <th>Longitude de</th>
    <th>Latitude para</th>
    <th>Longitude para</th>
    <th>Data de criacao</th>
    {% for value in list %}
        <tr>
            <td>{{value.id}}</td>
            <td>{{value.lat_from}}</td>
            <td>{{value.long_from}}</td>
            <td>{{value.lat_to}}</td>
            <td>{{value.long_to}}</td>
            <td>{{value.date_created}}</td>

        </tr>
    {% endfor %}
</table>